Repository pereira-tech-talks/pereiratechtalks.com, pull requests merged in 2024-09, with the labels that each got.

#184 #175 Add Gorilla Logic
  src/assets/images/pereira-tech-day/sponsors/ase-utp.png
  src/assets/images/pereira-tech-day/sponsors/github.png
  src/assets/images/pereira-tech-day/sponsors/gorilla.png
  src/components/widgets/Brands.astro
  src/content/post/302603058-pereira-tech-day.mdx
  src/pages/pereira-tech-day/index.astro
Labels: Size - XS, Pereira Tech Day

#188 Add Source Median as Gold sponsor
  src/assets/images/pereira-tech-day/sponsors/source-meridian.png
  src/components/widgets/Brands.astro
  src/pages/pereira-tech-day/index.astro
Labels: Size - XS, Pereira Tech Day

#191 Adjust collaborators section
  src/assets/images/pereira-tech-day/community/jointdev.png
  src/assets/images/pereira-tech-day/community/perjs.jpeg
  src/assets/images/pereira-tech-day/community/ptt.png
  src/assets/images/pereira-tech-day/community/pypereira.png
  src/components/ui/WidgetWrapper.astro
  src/components/widgets/Collaborators.astro
  src/components/widgets/Community.astro
  src/pages/pereira-tech-day/index.astro
  src/types.d.ts
Labels: Size - S, Pereira Tech Day

#200 #192 Update calendar according the new order
  src/pages/pereira-tech-day/index.astro
Labels: Size - S, Pereira Tech Day

#201 #199 Add lightning talks and speakers
  src/assets/images/people/abdenago-lopez.jpg
  src/assets/images/people/jonathan-alvarez.jpeg
  src/assets/images/people/juan-cardona.png
  src/assets/images/people/juan-franco.jpg
  src/assets/images/people/sary-libreros.jpg
  src/assets/images/people/sebastian-franco.jpeg
  src/components/ui/ItemGrid2.astro
  src/components/widgets/Features2.astro
  src/pages/pereira-tech-day/index.astro
  src/types.d.ts
Labels: Size - M, Pereira Tech Day

#203 #198 Optimize assets and add new sponsor
  src/assets/images/people/abdenago-lopez.jpg
  src/assets/images/people/jose-alfredo-jaramillo.jpg
  src/assets/images/people/juan-cardona.png
  src/assets/images/people/juan-franco.jpg
  src/assets/images/people/karolina-landino.jpeg
  src/assets/images/people/sary-libreros.jpg
  src/assets/images/pereira-tech-day/sponsors/made-for-germany.png
  src/pages/pereira-tech-day/index.astro
Labels: Size - XS, Pereira Tech Day

#205 #204 Add title for talks
  src/pages/pereira-tech-day/index.astro
Labels: Size - M, Pereira Tech Day

#206 #121 Create filter to exclude tags
  src/pages/[...blog]/[...page].astro
  src/utils/blog.ts
Labels: Size - XS

#208 #182 Modify template to include URL to post
  src/content/post/242657174-control-de-flujos-de.mdx
  src/content/post/243860589-visin-artificial-con.mdx
  src/content/post/244859180-como-empezar-en-segu.mdx
  src/content/post/245689908-introduccin-a-servid.mdx
  src/content/post/247349603-noche-de-devops-intr.mdx
  src/content/post/249625568-introduccin-a-bitcoi.mdx
  src/content/post/250815878-noche-de-testing-pru.mdx
  src/content/post/253647647-noche-de-diseo-tende.mdx
  src/content/post/257037605-noche-de-devops-intr.mdx
  src/content/post/259446080-noche-de-serverless.mdx
  src/content/post/259646321-pereira-girls-day.mdx
  src/content/post/260589719-hablemos-de-automati.mdx
  src/content/post/261814865-5-de-junio-aprendien.mdx
  src/content/post/263207408-de-cero-a-super-hero.mdx
  src/content/post/264304830-pereira-saturday-tec.mdx
  src/content/post/264973350-meetup-virtual-noche.mdx
  src/content/post/269780095-quarantine-tech-talk.mdx
  src/content/post/269942102-quarantine-tech-talk.mdx
  src/content/post/270081031-quarantine-tech-talk.mdx
  src/content/post/270217972-quarantine-tech-talk.mdx
  src/content/post/270745121-quarantine-tech-talk.mdx
  src/content/post/276757820-tdd-y-microservicios.mdx
  src/content/post/278665825-gcp-y-owasp.mdx
  src/content/post/279620621-software-libre-y-aut.mdx
  src/content/post/283129605-noche-de-machine-lea.mdx
  src/content/post/283655889-noche-de-career-path.mdx
  src/content/post/285770133-noche-de-liderazgo-y.mdx
  src/content/post/286473532-noche-de-seguridad-y.mdx
  src/content/post/288702513-noche-de-accesibilid.mdx
  src/content/post/289498758-noche-de-experiencia.mdx
  src/content/post/293065563-noche-de-ia-chatgpt.mdx
  src/content/post/299312744-explorando-cicd-tekt.mdx
  src/content/post/300358357-tecnologas-de-vangua.mdx
  src/content/post/301101493-revolucionando-el-de.mdx
  src/content/post/301707617-noche-de-unity-prime.mdx
  src/content/post/302332376-desarrollo-web-moder.mdx
  src/content/post/302603058-pereira-tech-day.mdx
  src/content/post/302972719-tech-soft-skills-ia.mdx
  src/utils/event.ts
Labels: Size - XS

#209 Streaming link
  src/pages/pereira-tech-day/index.astro
Labels: Size - XS
